extends ../partials/nav.pug

block content

  main
      section
          img(src='http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png' alt='Profile picture')
          ul
            li= "Peter koopman"
            li= "23 Jaar"
            li= "Man"
      p= "One liner about yourself!"
      
      section.populair
        h2= "Overeenkomende interesses" 
          
        article
          h2= "Dansen"
            img(src='images/notitie%20thumbnail.png', alt='')
          footer
            p= "Dansen is iets waar ik van hou!"
            
        article
          h2= "Eten"
          img(src='images/verliefd.png', alt='')
          footer
            p= "Zonder eten, ben ik niemand!"

          
              
            
              
