<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="charset='UTF-8'" content="">
  <meta name="viewport" content="width=device-width" , inital-scale=1.0>
  <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
</head>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="profile">Profile</a></li>
    </ul>
  </nav>
</header>

<body>

  <% for (let i = 0; i < data.length; i++) { %>
  <section>
      <h3>Game Naam: <%= data[i].gameNaam %></h3>
      <h3>Console: <%= data[i].console %> </h3>
      <h3>Type: <%= data[i].type %> </h3>
      <img src="static/uploads/<%= data[i].gameImage %>" alt="">
      <a href="game/<%= data[i]._id %>">View <%= data[i].gameNaam %></a>
  </section>
  <% } %>

</body>
