<% include partials/head.ejs %>

<body>
  <% for (let i = 0; i < data.length; i++) { %>
  <section class="home-main">
      <h1>Matches</h1>
      <h3>Name: <%= data[i].name %></h3>
      <h3>Age: <%= data[i].age %> </h3>
      <h3>Gender: <%= data[i].gender %> </h3>
      <img src="static/uploads/<%= data[i].profilePic %>" alt="">
      <a href="/<%= data[i]._id %>">Maak kennis met <%= data[i].name %></a>
  </section>  
  <%}%>
  <% include partials/tail.ejs %>
</body>
