<!DOCTYPE html>
<html lang="" dir="ltr">

<head>
  <meta name="charset='UTF-8'" content="">
  <meta name="viewport" content="width=device-width" , inital-scale=1.0>
  <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
</head>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="/">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <section>
      <img src="../static/images/avatar.png" alt="Profile picture">
      <ul>
        <% for (let i = 0; i < data.length; i++) { %>

        <li>Game naam: <%= data[i].gameNaam %></li>
        <li>Type: <%= data[i].type %> </li>
        <li>Console: <%= data[i].console %> </li>
        <% } %>
      </ul>

      <p>One liner about yourself</p>

    </section>

    <section>
      <div>
        <h2>
          Mijn games
        </h2>
      </div>

      <div class="populair">
        <form>
          <fieldset>
            <a href="hobby">Add game</a>
          </fieldset>
        </form>

        <% for (let i = 0; i < data.length; i++) { %>
        <article>
          <h2><%= data[i].gameNaam%></h2>
          <a href="#"><img src="../static/images/dansen.jpg" alt=""></a>
          <h3>Type: <%= data[i].type %></h3>
          <h3>Console: <%= data[i].console %></h3>
        </article>
        <% } %>
      </div>
    </section>


  </main>

</body>
