<% include partials/nav.ejs %>

<body>
  <main>
    <section>
      <img class="avatar" src="../static/images/avatar.png" alt="Profile picture">
      <ul>
        <li>Naam: Sajjad Ali </li>
        <li>Age: 22  </li>
        <li>Geslacht: Man  </li>
      </ul>
    </section>

    <section>
      <div>
        <h2>
          My Games
        </h2>
      </div>

      <div class="populair"> 
        <% for (let i = 0; i < data.length; i++) { %>
        <article>
            <h3>Game Name: <%= data[i].gameNaam %></h3>
            <h3>Console: <%= data[i].console %> </h3>
            <h3>Type: <%= data[i].type %> </h3>
            <img src="static/uploads/<%= data[i].gameImage %>" alt="">
            <a href="game/<%= data[i]._id %>">View <%= data[i].gameNaam %></a>
        </article>
        <% } %>
        <a class="add" href="game"><img src="../static/images/add.png" alt="">Add a game</a>
      </div>
    </section>
  </main>
  <% include partials/tail.ejs %>
</body>
