<% include partials/head.ejs %>

<nav>
  <ul>
    <li> <a href="/">Matches</a> </li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="<%= user.id %>/logout">Uitloggen</a></li>
  </ul>
</nav>

<body class="js-enabled">
  <main>
    <section class="profile">
      <img class="avatar" src="../static/uploads/<%=user.profilePic%>" alt="Profile picture">
      <h3>Name: <%= user.username %> </h3>
      <h3>Age: <%= user.age %> </h3>
      <h3>Gender: <%= user.gender %> </h3>
    </section>

    <section>
      <div>
        <h2>
          My Games
        </h2>
      </div>

      <div class="populair">
        <article class="add-game">
            <a class="add" href="game"><img src="../static/images/add.png" alt="">Add a game</a>
        </article>
        <div class="image-carousel">
          <div class="inner">
              <% for (let i = 0; i < data.length; i++) { %>
                <article class="carousel-item">
                    <h3>Game Name: <%= data[i].gameNaam %></h3>
                    <h3>Console: <%= data[i].console %> </h3>
                    <h3>Type: <%= data[i].type %> </h3>
                    <img class="carousel-img"src="static/uploads/<%= data[i].gameImage %>" alt="">
                    <a class="carousel-link" href="game/<%= data[i]._id %>">View <%= data[i].gameNaam %></a>
                </article>
              <% } %>
          </div>
          <div class="bubbles"></div>
          <div class="prev"></div>
          <div class="next"></div>
      </div> 
      </div>
    </section>
    
       
  </main>
  <script src="../../static/js/carousel.js"></script>
</body>