<% include partials/nav.ejs %>

<body>
  <main>
    <section>

    </section>

    <section>
      <div>
        <h2>
         <%= data.gameNaam %>
        </h2>
        <article>
            <p> <%= data.type %> </p>
            <p> <%= data.console %> </p>
            <img src="../static/uploads/<%= data.gameImage %>" alt="">
            <button id="js-remove" data-id='<%= data._id %>' class="danger">Remove</button>
        </article>
      </div>
    </section>
  </main>
  <% include partials/tail.ejs %>
</body>
