<!DOCTYPE html>
<html lang="" dir="ltr">

<head>
  <meta name="charset='UTF-8'" content="">
  <meta name="viewport" content="width=device-width" , inital-scale=1.0>
  <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
</head>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <section>

    </section>

    <section>
      <div>
        <h2>
         <%= data.gameNaam %>
        </h2>
        <article>
            <p> <%= data.type %> </p>
            <p> <%= data.console %> </p>
            <img src="../static/uploads/<%= data.gameImage %>" alt="">
            <button id="js-remove" data-id='<%= data._id %>' class="danger">Remove</button>
            <p><%= data._id %></p>
        </article>
      </div>
    </section>
  </main>
  <script type="text/javascript">

    var remove = document.getElementById('js-remove');
    
    if (remove) {
      remove.addEventListener('click', onremove)
    }
    
    function onremove(ev) {
    
      var node = ev.target;
      var id = node.dataset.id;

      console.log(node.dataset);
    
      var res = new XMLHttpRequest()
    
      res.open('DELETE', '/game/' + id)
      res.onload = onload
      res.send()
    
      function onload() {
        if (res.status !== 200) {
          throw new Error('Could not delete!')
        }
        window.location = '/'
      }
    }
    </script>
</body>
