<% include partials/head.ejs %>


<% if (user) { %>
<nav>
  <ul>
    <li> <a href="/">Matches</a> </li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="<%= data._id %>/logout">Uitloggen</a></li>
  </ul>
</nav>
<% } else { %>

    <nav>
        <ul>
          <li> <a href="/">Matches</a> </li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
      </nav>

    <% } %>

<main>
    <article>
        <section>
            <article>
                <% if (user) { %>
                <h1>Name: <%= data.name %></h1>
                <h1>Gender: <%= data.gender %></h1>
                <h1>Age: <%= data.age %></h1>
                <img src="/static/uploads/<%= data.profilePic %>" alt="">
                <% } %>
                </article>
        </section> 
    </article>
</main>